footer {
    --size-logo-social: 2rem;
    --space-logo-social: 0.5rem;
    --height-map: 300px;

    background-color: var(--mau-1);
    padding: var(--padding-header-footer);

    .map {
        height: var(--height-map);
        width: 100%;
        position: relative;
        z-index: 0;
        bottom: var(--padding-top-bottom-header-footer);

        iframe {
            position: absolute;
            // top: -10rem;
            // z-index: -12;
            width: 100%;
            height: 100%;
            transition: 0.25s;
            &.resize {
                width: 50%;
                margin-left: 50%;
            }
        }
    }

    .container {
        justify-content: space-around;
        align-items: center;
        gap: 1rem;

        .address {
            color: var(--mau-4);
        }

        .menu-social {
            gap: var(--space-logo-social);
            a {
                font-size: var(--size-logo-social);
                color: var(--mau-4);
                text-decoration: none;
                transition: opacity 0.15s;

                &:hover {
                    opacity: 0.6;
                }
            }
        }
    }
}
