header {
  --size-logo: 50px;
  --height-header: 200px;
  --width-header: 100%;
  --width-menu: 50%;
  --size-hamburger: 2rem;
  --width-header-on-mobile: 50vw;

  width: var(--width-header);
  background-color: var(--mau-1);
  padding: var(--padding-header-footer);
  position: fixed;
  transition: background-color 0.2s linear;

  &.transparent {
    background-color: var(--mau-0);
  }

  .container {
    display: flex;
    z-index: 10;
    justify-content: space-between;
    align-items: center;

    .logo {
      border-radius: 50%;
      overflow: hidden;
      img {
        width: var(--size-logo);
        height: var(--size-logo);
      }
    }
    .menu {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: var(--width-menu);
      a {
        color: var(--mau-4);
        text-decoration: none;
        gap: 6px;
      }
    }

    .hamburger {
      display: none;
    }
  }
}
