@media (max-width: 922px) {
    footer {
        .map {
            iframe {
                width: 50%;
                margin-left: 50%;
            }
        }

        .container {
            flex-direction: column;
        }
    }
}
