@import url("https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
  --mau-0: transparent;
  --mau-1: #0266a4;
  --mau-2: #f01e27;
  --mau-3: #ba72d5;
  --mau-4: #fff;
  --mau-5: #000;
  --width-page: 80%;
  --padding-header-footer: 1rem 0;
  --padding-top-bottom-header-footer: 1rem;
}

.container {
  width: var(--width-page);
  margin: auto;
}

.flex {
  display: flex;
  align-items: baseline;
}

header {
  --size-logo: 50px;
  --height-header: 200px;
  --width-header: 100%;
  --width-menu: 50%;
  --size-hamburger: 2rem;
  --width-header-on-mobile: 50vw;
  width: var(--width-header);
  background-color: var(--mau-1);
  padding: var(--padding-header-footer);
  position: fixed;
  transition: background-color 0.2s linear;
}
header.transparent {
  background-color: var(--mau-0);
}
header .container {
  display: flex;
  z-index: 10;
  justify-content: space-between;
  align-items: center;
}
header .container .logo {
  border-radius: 50%;
  overflow: hidden;
}
header .container .logo img {
  width: var(--size-logo);
  height: var(--size-logo);
}
header .container .menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: var(--width-menu);
}
header .container .menu a {
  color: var(--mau-4);
  text-decoration: none;
  gap: 6px;
}
header .container .hamburger {
  display: none;
}

@media (max-width: 922px) {
  header .container {
    position: relative;
  }
  header .container .menu {
    position: absolute;
    background-color: var(--mau-3);
    z-index: 9999;
    top: calc(-1 * var(--padding-top-bottom-header-footer));
    height: 100vh;
    width: var(--width-header-on-mobile);
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem;
    transition: left 0.2s linear;
    left: calc(-1 * var(--width-header-on-mobile) - 10vw);
  }
  header .container .menu.active {
    left: -10vw;
  }
  header .container .menu a {
    padding: 1rem 0 1rem 2rem;
    width: 100%;
    transition: 0.5s;
  }
  header .container .menu a:hover {
    opacity: 0.8;
    color: var(--mau-3);
    background-color: var(--mau-4);
  }
  header .container .hamburger {
    font-size: var(--size-hamburger);
    display: block;
    color: var(--mau-4);
    cursor: pointer;
  }
}
::-webkit-scrollbar {
  /* 1 */
  width: 12px;
  background-color: #2d2e30;
}

::-webkit-scrollbar-button {
  /* 2 */
  display: none;
}

::-webkit-scrollbar-track {
  /* 3 */
}

::-webkit-scrollbar-track-piece {
  /* 4 */
}

::-webkit-scrollbar-thumb {
  /* 5 */
  border: 2px solid var(--mau-5);
  margin: 0 auto;
  background-color: var(--mau-4);
  border-radius: 5px;
}

::-webkit-scrollbar-corner {
  /* 6 */
}

::-webkit-resizer {
  /* 7 */
}

footer {
  --size-logo-social: 2rem;
  --space-logo-social: 0.5rem;
  --height-map: 300px;
  background-color: var(--mau-1);
  padding: var(--padding-header-footer);
}
footer .map {
  height: var(--height-map);
  width: 100%;
  position: relative;
  z-index: 0;
  bottom: var(--padding-top-bottom-header-footer);
}
footer .map iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: 0.25s;
}
footer .map iframe.resize {
  width: 50%;
  margin-left: 50%;
}
footer .container {
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
}
footer .container .address {
  color: var(--mau-4);
}
footer .container .menu-social {
  gap: var(--space-logo-social);
}
footer .container .menu-social a {
  font-size: var(--size-logo-social);
  color: var(--mau-4);
  text-decoration: none;
  transition: opacity 0.15s;
}
footer .container .menu-social a:hover {
  opacity: 0.6;
}

@media (max-width: 922px) {
  footer .container {
    flex-direction: column;
  }
}

/*# sourceMappingURL=render.css.map */
