/* ............................lap && mobile ............... */
#intro {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(to bottom, #0065a4, #4371a54b);
  box-shadow: 0px 0px 20px #0065a477;
}
#chaomung {
  user-select: none !important;
}
@media (min-width: 1024px) {
  .subsection-card img {
    width: 45% !important;
  }
}
@keyframes blindShadow {
  0%,
  90%,
  100% {
    box-shadow: 1px 1px 20px #ccc;
  }
  30%,
  60% {
    box-shadow: 0px 0px 70px rgb(73, 136, 194);
  }
}
@keyframes  appear{
  from {
    left: -100vw;
  }
  to {
    left: 50vw;
  }
}
@keyframes  disappear{
  from {
    left: 50vw;
  }
  to {
    left: -100vw;
  }
}
/* ..................................slide................*/


.slideshow{
  width: var(--width-page);
  height: 67vh;
  overflow: hidden;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0.5vh;
}

.navigation{
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.bar {
  width: 20px;
  height: 20px;
  border: 2px solid #000;
  opacity: 0.65;
  border-radius: 30px;
  margin: 10px;
  cursor: pointer;
}

.bar:hover {
  background-color: #ccc;
  transition: ease .6s;
  border: 2px solid red;
}

.bar:active {
  background-color: darkblue;
  transition: .1s;
}

input[name="bottom"]{
  position: absolute;
  visibility: hidden;
}

.slides{
  width: 300%;
  height: 100%;
  display: flex;
}

.slide{
  width: 33.3%;
  transition: linear 1.2s;
  text-align: center;
}

.slide img{
  height: 100%;
  border-radius: 20px;
  opacity: 0.85;
}
/*nut slide*/

.nut-slide{
  position:absolute;
  top: 50%;
  height: 100px;
  line-height: 100px;
  width: 40px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(14, 60, 121);
  opacity:0.5;
  transform: translateY(-50%);
  border-radius:10px;
  outline:none;
}

.nut-slide:hover {
  opacity: 0.8;
}

.nut-slide-trai{
  left: 0;
}

.nut-slide-phai{
  right: 0;
}