#intro {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(to bottom, #0065a4, #4371a54b);
  box-shadow: 0px 0px 20px #0065a477;
}
#chaomung {
  user-select: none !important;
}
@media (min-width: 1024px) {
  .subsection-card img {
    width: 45% !important;
  }
}
/* laptop */
@media (min-width: 922px) {
  #chaomung {
    position: relative;
    top: 23%;
    left: 50%;
    z-index: 1;
    font-size: 2.5em;
    color: #005488;
    transform: translateX(-50%);
    font-weight: 666;
    font-family: Roboto;
    display: inline-block;
    padding: 6px 15px;
    border-radius: 20px;
    text-shadow: 10px 10px 5px rgba(51, 51, 51, 0.203);
    height: 68.4px;
    width: 462.92px;
    overflow: hidden;
    line-height: 68.4px;
    transition: ease 0.34s;
    animation: blindShadow 5s linear infinite;
  }
  #chaomung div {
    animation: textTyping 5s linear infinite;
    box-shadow: 10px 0px 0px #0066a4;
    display: inline-block;
    position: relative;
    overflow: hidden;
  }
  @keyframes textTyping {
    0%,
    90%,
    100% {
      width: 0px;
    }
    30%,
    60% {
      width: 432.96px;
    }
  }
  @keyframes blindShadow {
    0%,
    90%,
    100% {
      box-shadow: 1px 1px 20px #ccc;
    }
    30%,
    60% {
      box-shadow: 0px 0px 70px rgb(73, 136, 194);
    }
  }
  #chaomung:hover {
    cursor: pointer;
    background-color: #d1a759a2;
    font-weight: 650;
    opacity: 0.75;
    text-shadow: 2px 5px 1px #333;
    box-shadow: 0px 0px 15px #ccc;
  }
  #chaomung:active {
    background-color: #0066a4;
    text-shadow: 10px -21px 1px rgba(51, 51, 51, 0.548);
  }
  /* #chaomung:hover div {
    animation-play-state: paused;
  }
  #chaomung:hover {
    animation-play-state: paused;
  } */

  #wrapArrow {
    position: absolute;
    left: 25%;
    top: 23%;
    transform: rotateZ(-180deg);
  }
  #wrapArrow2 {
    position: absolute;
    right: 25%;
    top: 23%;
  }

  /* ///////arrow  */
  .arrowAnim {
    width: 8vw;
    height: 68.4px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  .arrow {
    width: 1vw;
    height: 1vw;
    border: 0.3vw solid;
    border-color: #333 transparent transparent #333;
    transform: rotate(-45deg);
  }

  .arrowSliding {
    position: absolute;
    animation: slide 4s linear infinite;
  }

  .delay1 {
    animation-delay: 1s;
  }
  .delay2 {
    animation-delay: 2s;
  }
  .delay3 {
    animation-delay: 3s;
  }
  @keyframes slide {
    0% {
      opacity: 0;
      transform: translateX(2.5vw);
    }
    20% {
      opacity: 1;
      transform: translateX(1.5vw);
    }
    80% {
      opacity: 1;
      transform: translateX(-1.5vw);
    }
    100% {
      opacity: 0;
      transform: translateX(-2.5vw);
    }
  }


  .home--card__true {
    font-family: "Roboto", sans-serif;
    position: absolute;
    bottom: 0.5vh;
    left: 50vw;
    z-index: 2;
    transform: translateX(-50%);
    height: 76vh;
    width: var(--width-page);
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(200px);
    border-radius: 20px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
    padding: 20px 20px 0 20px;
    display: flex ;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
    overflow-x: hidden;
    overscroll-behavior: auto;
    animation: appear .7s ease-in-out;
  }
  .home--card__false{
    display: none ;
  }
  
  @keyframes  appear{
    from {
      left: -100vw;
    }
    to {
      left: 50vw;
    }
  }
  @keyframes  disappear{
    from {
      left: 50vw;
    }
    to {
      left: -100vw;
    }
  }

  .home--button {
    outline: 0;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 36px;
    height: 36px;
    border: 0;
    background: 0;
    padding: 0;
    cursor: pointer;
    z-index: 3;
  }
  .section-card h1 {
    font-weight: 500;
    margin: 0;
    text-align: center;
  }
  .subsection-card {
    height: auto;
  }
  #style-1::-webkit-scrollbar {
    width: 8px;
    background-color: #f5f5f5;
  }
  #style-1::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #f5f5f5;
  }

  /* #intro>img {
    position: absolute;
    bottom: 0.5vh;
    left: 50%;
    transform: translateX(-49%);
    z-index: 0;
    height:67vh;
    width:auto; 
    animation: blindShadow 5s linear infinite;
    border-radius: 20px;
    opacity: 0.85;
  } */

  .section-card-content {
    font-size: 1.34em;
    line-height: 25px;
    padding: 14px 100px 14px 100px;
    text-align: justify;
  }
  .section-card-content p {
    text-indent: -0.5em;
    margin:0;
    line-height: 130%;
  }
  .section-card-content h2{
    text-indent: -1em;
    margin-bottom:15px;
  }
  .subsection-card hr {
    border-color: #0065a4;
  }

  #active-img {
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items:center;
    align-content: center;
  }
  .subsection-card img {
    width: 60%;
    margin: 25px 0px;
  }

  #backgroundClick {
    height: 300%;
    width: 100%;
    background-color: transparent;
    position:absolute;
  }
}

/* //////////////////////////////////////////mobile */
@media (max-width: 922px) {
  #chaomung {
    position: relative;
    top: 25%;
    text-align: center;
    font-size: 16px;
    color: #005488;
    font-weight: 650;
    font-family: consolas;
    box-shadow: 1px 1px 5px #ccc;
    display: inline-block;
    padding: 0px 15px;
    z-index: 0;
    border-radius: 6px;
    text-shadow: 10px 10px 5px rgba(51, 51, 51, 0.203);
    height: 10vh;
    width: 86vw;
    overflow: hidden;
    line-height: 10vh;
    transition: ease 0.5s;
  }
  #intro .farindex {
    z-index: -1;
  }
  #chaomung:active {
    background-color: red;
  }
  #chaomung div {
    box-shadow: 5px 0px 0px #0066a4;
    display: inline-block;
    position: relative;
    overflow: hidden;
    animation: textTyping 5s linear infinite;
  }
  @keyframes textTyping {
    0%,
    90%,
    100% {
      width: 0px;
    }
    30%,
    60% {
      width: 60vw;
    }
  }
}

/* ////////////////////////////////////////////////////////////////// */


.slideshow{
  width: var(--width-page);
  height: 67vh;
  overflow: hidden;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0.5vh;
}

.navigation{
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.bar {
  width: 20px;
  height: 20px;
  border: 2px solid #000;
  opacity: 0.65;
  border-radius: 30px;
  margin: 10px;
  cursor: pointer;
}

.bar:hover {
  background-color: #ccc;
  transition: ease .6s;
  border: 2px solid red;
}

.bar:active {
  background-color: darkblue;
  transition: .1s;
}

input[name="bottom"]{
  position: absolute;
  visibility: hidden;
}

.slides{
  width: 200%;
  height: 100%;
  display: flex;
}

.slide{
  width: 50%;
  transition: linear 1.2s;
  text-align: center;
}

.slide img{
  height: 100%;
  border-radius: 20px;
  opacity: 0.85;
}
/*nut slide*/

.nut-slide{
  position:absolute;
  top: 50%;
  height: 100px;
  line-height: 100px;
  width: 40px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(14, 60, 121);
  opacity:0.5;
  transform: translateY(-50%);
  border-radius:10px;
}

.nut-slide:hover {
  opacity: 0.8;
}

.nut-slide-trai{
  left: 0;
}

.nut-slide-phai{
  right: 0;
}