/* //////////////////////////////////////////mobile */
@media (max-width: 922px) {
  #mobile_hand{
    position: absolute;
    top: 24%;
    right: 5vw;
    height: 10vh;
    line-height: 10vh;
  }
  #chaomung {
    position: relative;
    top: 24%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 1.05em;
    color: #005488;
    font-weight: 650;
    font-family: consolas;
    box-shadow: 1px 1px 5px #ccc;
    display: inline-block;
    padding: 0px 1vw;
    z-index: 0;
    border-radius: 6px;
    text-shadow: 10px 10px 5px rgba(51, 51, 51, 0.203);
    height: 10vh;
    width: 66vw;
    overflow: hidden;
    line-height: 10vh;
  }
  #intro .farindex {
    z-index: -1;
  }
  #chaomung:active {
    background-color: #ffb62da2;
  }
  #chaomung div {
    box-shadow: 2.5px 0px 0px #0066a4;
    display: inline-block;
    position: relative;
    overflow: hidden;
    animation: textTyping 5s linear infinite;
  }
  @keyframes textTyping {
    0%,
    90%,
    100% {
      width: 0px;
    }
    30%,
    60% {
      width: 60vw;
    }
  }

  /* ............ chỉnh từ phần arrow từ lap sang mobile................ */

  /* .............Arrow.......................... */
  #wrapArrow {
   display:none;
  }
  #wrapArrow2 {
   display:none;
  }
  
  /* ............................home............. */
  
  .home--card__true{
    font-family: "Roboto", sans-serif;
    position: absolute;
    bottom: 0.5vh;
    left: 50vw;
    z-index: 2;
    transform: translateX(-50%);
    height: 76vh;
    width: 90%;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(200px);
    border-radius: 20px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
    padding: 35px 20px 0 20px;
    display: flex ;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
    overflow-x: hidden;
    overscroll-behavior: auto;
    animation: appear .7s ease-in-out;
  }
  .home--card__false{
    display: none ;
  }
  .home--button {
    outline: 0;
    position: absolute;
    right: 8px;
    top: 8px;
    width: 36px;
    height: 36px;
    border: 0;
    background: 0;
    padding: 0;
    cursor: pointer;
    z-index: 3;
  }
  .section-card h1 {
    font-weight: 500;
    margin: 0;
    text-align: center;
    font-size: 180%;
  }
  .subsection-card {
    height: auto;
  }
  #style-1::-webkit-scrollbar {
    width: 4.5px;
    background-color: #f5f5f5;
  }
  #style-1::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #f5f5f5;
  }
  .section-card-content {
    font-size: 1.1em;
    line-height: 23px;
    text-align: justify;
  }
  .section-card-content p {
    text-indent: -0.5em;
    margin:5px 0;
    line-height: 130%;
  }
  .section-card-content h2{
    text-indent: -0.5em;
    margin-bottom:15px;
    font-size: 150%;
  }
  .subsection-card hr {
    border-color: #0065a4;
  }

  #active-img {
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items:center;
    align-content: center;
  }
  .subsection-card img {
    width: 75%;
    margin: 20px 0px;
  }

  #backgroundClick {
    height: 300%;
    width: 100%;
    background-color: transparent;
    position:absolute;
  }
 

/* ......................slides............... */

.slideshow{
    width: 100%;
    height: 67vh;
    overflow: hidden;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -1vh;
  }
  .bar {
    width: 14px;
    height: 14px;
  }
  .slide{
    display:flex;
    align-items: center;
    justify-content: center;
  }
  .slide img{
    width: 100%;
    height: auto;
    border-radius: 20px;
    opacity: 0.85;
  }
  .s1>img{
      height:80%;
      width:auto;
  }
  #intro .nut-slide{
    border:0 !important;
    background-color: rgba(255, 255, 255,0.2);
  }
  .nut-slide:active{
      background-color: rgba(246, 0, 0, 0.4);
  }

}
